body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.top-nav {
  background-color: #683218;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-nav {
  background-color: #bf550d;
}

.bottom-nav {
  background-color: #f7f3ea;
}

.date {
  color: white;
  margin-left: 2rem;
}

.flex-model {
  display: flex;
}

.social-links li img {
  width: 24px;
}

.social-links li,
.menu li,
.bottom-nav li {
  margin-left: 1.5rem;
  text-align: center;
}

.social-links,
.menu,
.bottom-nav .right-nav {
  margin-right: 2rem;
}

.social-links ul {
  margin: 0.5rem 0;
}

/* mid nav*/
.logo {
  margin: 0.2rem 0 0.2rem 1.2rem;
}

.menu a {
  color: white;
}

.mid-nav.flex-model,
.bottom-nav {
  justify-content: space-between;
  align-items: center;
}

.mid-nav.flex-model i {
  color: rgb(233, 233, 233);
  padding-bottom: 1rem;
}

/* bottom nav*/
.bottom-nav {
  font-size: 0.9rem;
  font-weight: 500;
}

.bottom-nav i {
  padding-right: 5px;
}

li.no-left-margin {
  margin-left: 0;
}
